---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- profile2.webp you can remove | Photo <a href="https://unsplash.com/es/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> en <a href="https://unsplash.com/es/fotos/hombre-con-gorro-negro-kVg2DQTAK7c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   -->

<!-- You can replace the card's data with your own here. -->
<BaseLayout title="Karthikeyan Reddy" description="Meta description. Here goes your page description. Provide a clear and concise summary of the content.">
	<Card
	  name="Karthikeyan Reddy"
	  position="Web Developer"
	  aboutMe={`Hi there! I'm Karthikeyan, a web developer passionate about crafting clean and dynamic websites. I specialize in front-end and back-end development using HTML, CSS, JavaScript, and frameworks like React.\n\nI thrive on creating user-centric designs and optimizing performance for seamless browsing experiences.\n\nLet's collaborate TOGHETER!`}
	  linkedin="https://www.linkedin.com/in/karthikeyan-reddy-198603278/"
	  github="https://github.com/Karthikeyanhimself"
	  cvLink="/files/Resume.pdf"
	/>
</BaseLayout>
